<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#000">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if $.Site.Params.description }}
  <meta name="description" content="{{ $.Site.Params.description }}">
  {{ end }}
  {{ if $.Site.Params.keywords }}
  <meta name="keywords" content="{{ $.Site.Params.keywords }}">
  {{ end }}
  {{ range .Site.Params.custom_css | default (slice "static/css/style.css") }}
  {{ with resources.Get . }}
  <link rel="stylesheet" type="text/css" href="{{ (. | minify | fingerprint).RelPermalink }}">
  {{ else }}
  {{ errorf "stylesheet %q listed in params.custom_css was not found in the assets directory" . }}
  {{ end }}
  {{ end }}
  {{ with .OutputFormats.Get "Atom" }}
  <link rel="alternate" type="application/atom+xml" href="{{ .RelPermalink }}" title="{{ $.Site.Title }}">
  {{ end }}
  {{ if (not (fileExists "static/favicon.ico")) }}
  <link rel="icon" href="data:,">
  {{ end }}
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
</head>