{{ define "main" -}}
<nav>
  <p>{{ emojify ":link:" }}&nbsp;<a class="link link--internal" href="{{ .Site.Home.RelPermalink }}" rel="noreferrer">{{ i18n "returnHome" }}</a></p>
</nav>
<main>
  <h1>{{ .Type | singularize | humanize }} "{{ .Title }}"</h1>
  <h2>{{ i18n "feeds" }}</h2>
  <p>{{ emojify ":link:" }}&nbsp;<a class="link link--internal" href="{{ print .RelPermalink "atom.xml" }}" rel="noreferrer">{{ i18n "atomFeed" }}</a></p>
  <h2>{{ i18n "journalEntries" }}</h2>
  {{- range .Data.Pages.ByPublishDate.Reverse }}
  {{ partial "metadata.html" . -}}
  {{ end }}
</main>
{{- end }}