{{ define "main" -}}
<main>
  {{- if .Site.Params.indexTitle }}
  <h1>{{ .Site.Params.indexTitle }}</h1>
  {{- end }}
  {{- if .Site.Params.indexIntro }}
  <p>{{ .Site.Params.indexIntro }}</p>
  {{- end }}
  <h2>{{ i18n "navLinks" }}</h2>
  <nav>
    <ul class="list">
    {{- range .Site.Menus.main }}
	<li class="list__item">{{ emojify ":link:" | safeHTML }} <a class="link" href="{{ .URL }}" rel="noreferrer">{{ .Name }}</a></li>
    {{- end }}
    </ul>
  </nav>
  <h2>{{ i18n "journalEntries" }}</h2>
  {{ range (where .Site.RegularPages.ByTitle "Section" "entry").ByPublishDate.Reverse -}}
  {{ partial "metadata.html" . -}}
  {{ end -}}
</main>
{{- end }}
