{{ define "main" -}}
<nav>
  <p>{{ emojify ":link:" }}&nbsp;<a class="link link--internal" href="{{ .Site.Home.RelPermalink }}" rel="noreferrer">{{ i18n "returnHome" }}</a></p>
</nav>
<main class="main">
  <div class="entry__details">
    <h1 id="{{ .File.TranslationBaseName }}" class="entry__heading">{{ .Title }}</h1>
    {{- if (.Page.Params.pageinfo | default true) }}
    <p class="entry__pageinfo">{{ partial "pageinfo.html" . }}</p>
    {{- end -}}
    {{ with index (where .Resources "MediaType.MainType" "audio") 0 }}
    <audio class="entry__audio" controls preload="metadata" aria-label="{{ i18n "audioVersion" $.Title }}">
      <source src="{{ .RelPermalink }}" type="{{ .MediaType }}">
      {{ i18n "audioUnsupported" }}
    </audio>
    {{- end }}
  </div>
  {{ chomp (.Content) }}
</main>
{{- end }}